.league {
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: small-caps;
}

ol:hover {
  border-width: 20px;
  border-radius: 5px;
  border: 2px solid;
}

.league img {
  width: 25px;
  height: 25px;
}

.league a:link {
  text-decoration: none;
}
