/* .button{
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
} */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.main-navigation__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  padding: 10px;
}

.main-navigation__items li {
  list-style: none;
  background-color: green;
  padding: 10px 20px;
  border-radius: 12px;
  width: 60px;
  margin: 6px 0;
}
.main-navigation__items li:hover {
  background-color: red;
  transition: 0.2s all linear;
}

.main-navigation__items li a {
  text-decoration: none;
  color: white;
}

iframe {
  width: 100%;
  height: 100vh;
}
